<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/keys.css">
    <title>3D Card</title>
</head>
<body>
<h1 class="headline">Your current keycards</h1>
     <div class="container">
         <div class="cards">
            <div style="float:left; margin:20px" class="card mix-color" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.5">  
              <div class="image" style="background-image: url('images/image.jpg')"></div>
              <div class="text">
                  <span class="number">Profession: Student</span>
                  <h2>Maxi</h2>
                  <p>Berechtigung 1</p>
                  <p>Berechtigung 2</p>
                  <p>Berechtigung 3</p>
              </div>
              <div class="stats">
                <div class="stat">
                    <div class="value">100$</div>
                    <div class="type">Guthaben</div>
                </div>
                <div class="stat">
                  <div class="value">50</div>
                  <div class="type">Gebäude</div>
                </div>
                <div class="stat">
                  <div class="value">80</div>
                  <div class="type">Räume</div>
                </div>
              </div>
            </div>

            <div style="float:left; margin:20px" class="card mix-color" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.5">
                <div class="image" style="background-image: url('images/image.jpg')"></div>
              <div class="text">
                  <span class="number">Profession: Student</span>
                  <h2>Henrik</h2>
                  <p>Berechtigung 1</p>
                  <p>Berechtigung 2</p>
                  <p>Berechtigung 3</p>
              </div>
              <div class="stats">
                <div class="stat">
                    <div class="value">50$</div>
                    <div class="type">Guthaben</div>
                </div>
                <div class="stat">
                  <div class="value">50</div>
                  <div class="type">Gebäude</div>
                </div>
                <div class="stat">
                  <div class="value">80</div>
                  <div class="type">Räume</div>
                </div>
              </div>
            </div>

            <div style="float:left; margin:20px" class="card mix-color" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.5">
                <div class="image" style="background-image: url('images/image.jpg')"></div>
              <div class="text">
                  <span class="number">Profession: Student</span>
                  <h2>Jannik</h2>
                  <p>Berechtigung 1</p>
                  <p>Berechtigung 2</p>
                  <p>Berechtigung 3</p>
              </div>
              <div class="stats">
                <div class="stat">
                    <div class="value">30$</div>
                    <div class="type">Guthaben</div>
                </div>
                <div class="stat">
                  <div class="value">50</div>
                  <div class="type">Gebäude</div>
                </div>
                <div class="stat">
                  <div class="value">80</div>
                  <div class="type">Räume</div>
                </div>
              </div>
            </div>

            <div style="float:left; margin:20px" class="card mix-color" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.5">
                <div class="image" style="background-image: url('images/image.jpg')"></div>
              <div class="text">
                  <span class="number">Profession: Student</span>
                  <h2>Moritz</h2>
                  <p>Berechtigung 1</p>
                  <p>Berechtigung 2</p>
                  <p>Berechtigung 3</p>
              </div>
              <div class="stats">
                <div class="stat">
                    <div class="value">20$</div>
                    <div class="type">Guthaben</div>
                </div>
                <div class="stat">
                  <div class="value">50</div>
                  <div class="type">Gebäude</div>
                </div>
                <div class="stat">
                  <div class="value">80</div>
                  <div class="type">Räume</div>
                </div>
              </div>
            </div>

            <div style="float:left; margin:20px" class="card mix-color" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.5">
                <div class="image" style="background-image: url('images/image.jpg')"></div>
              <div class="text">
                  <span class="number">Profession: Student</span>
                  <h2>Kieu</h2>
                  <p>Berechtigung 1</p>
                  <p>Berechtigung 2</p>
                  <p>Berechtigung 3</p>
              </div>
              <div class="stats">
                <div class="stat">
                    <div class="value">9$</div>
                    <div class="type">Guthaben</div>
                </div>
                <div class="stat">
                  <div class="value">50</div>
                  <div class="type">Gebäude</div>
                </div>
                <div class="stat">
                  <div class="value">80</div>
                  <div class="type">Räume</div>
                </div>
              </div>
            </div>
         </div>
         <script src="js/keys.js"></script>   
     </div>
</body>   
</html>